# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# Angular 19 - Modern browsers only (ES2015+)
# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 2 versions
not dead
not IE 11
not Android < 5
not Safari < 12
not ChromeAndroid < 80
not Chrome < 80
not Firefox < 78
not Edge < 80
not KaiOS < 3
not op_mini all