<h3>Authors</h3>
<demo-collection-info [collection]="authors"></demo-collection-info>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Date of dead</th>
        </tr>
    </thead>
    <tr *ngFor="let author of authors.data; trackBy: authors.trackBy">
        <td>{{ author.id }}</td>
        <td>
            <a [routerLink]="['/authors', author.id]">{{ author.attributes.name }}</a>
        </td>
        <td>{{ author.attributes.date_of_birth | date }}</td>
        <td>{{ author.attributes.date_of_death | date }}</td>
        <!-- <td><button (click)="delete(author)">Delete</button></td> -->
    </tr>
</table>

<!-- <p>
<button ng-click="update()">Update author</button>
<button ng-click="removeRelationship()">Remove relationship</button>
</p> -->
